<h1 id="about-the-ecosystem-climate-regulation-services-calculator">About the Ecosystem Climate Regulation Services Calculator</h1>

<p>Ecosystems regulate climate through both greenhouse-gas exchange with the atmosphere (biogeochemical mechanisms) and regulation of land surface energy and water balances (biophysical mechanisms). The exchange of carbon dioxide (CO<sub>2</sub>) and other greenhouse gases (N<sub>2</sub>O, CH<sub>4</sub>) between ecosystems and the atmosphere influences climate. For example, forests remove CO<sub>2</sub> from the atmosphere as they grow, croplands release the potent greenhouse gas N<sub>2</sub>O as a byproduct of fertilization, and deforestation releases large amounts of CO<sub>2</sub> and other greenhouse gasses to the atmosphere.  Beyond this, ecosystems also influence climate through absorption of incoming solar radiation (dependent upon their reflectivity, or <i>albedo</i>) and the transfer of heat by evaporation (latent heat flux-a process analogous to sweating). Efforts aimed at climate change mitigation through land management quantify greenhouse gas exchange, but do not account for the biophysical exchanges, which in some cases can be quite significant. </p>

<p>Recently, researchers proposed an integrated index of the climate regulation value (CRV) of terrestrial ecosystems (Anderson-Teixeira <i>et al.</i>, 2012a; Hungate &amp; Hampton, 2012), which combines a previous metric of the greenhouse gas value of ecosystems (GHGV; Anderson-Teixeira &amp; DeLucia, 2011) with biophysical climate regulation services to show the climate regulation services of ecosystems in CO<sub>2</sub> equivalents - a common currency for carbon accounting.  This is the most comprehensive existing metric of ecosystem climate regulation services, and it sets the stage for thorough accounting of climate regulation services in initiatives aimed at climate protection through land management (Anderson-Teixeira <i>et al.</i>, 2011; Hungate &amp; Hampton, 2012). </p>

<p>The CRV calculator is a publically available web-based tool for estimating <i>CRV</i> (or <i>GHGV</i>) for ecosystems globally. It uses global maps of climatically significant ecosystem properties (for example, biomass, soil carbon, biophysical services) to provide location-specific CRV estimates.</p>

<h1 id="applications">Applications</h1>

<p>The Ecosystem Climate Regulation Services Calculator has potential applications in a variety of fields. Below are some examples.</p>

<h2 id="conservation">Conservation</h2>

<p>This calculator can be used to determine which areas of potential conservation interest are the most beneficial in terms of their net effect on the climate. This information can then be used to help make land conservation decisions and inform the general public about the climate benefits of conserving lands.</p>

<h2 id="sustainability-science">Sustainability Science</h2>

<p>The calculator can be used to evaluate the climate consequences of various land use decisions. For instance, the calculator can be used to evaluate the impacts of various bioenergy production strategies (Anderson-Teixeira <i>et al.</i>, 2012b; Buckeridge <i>et al.</i>, 2012). It could also be used in determining the value of land when designing infrastructure projects, such as dams or highways.
</p>

<h2 id="education">Education</h2>

<p>The calculator can be used to educate students or the general public about the climate regulation services of ecosystems around the globe. For example, by using the calculator to research ecosystems in areas where land use change is occurring, students will gain a greater understanding of the issues surrounding land use and conservation decisions. They can also use the calculator to learn more about the local ecosystems with which they are familiar. </p>

<h2 id="business">Business</h2>

<p>Increasing public interest in sustainable business practices creates a need for conscientious businesses to evaluate the climate impact of business decisions, including those that affect land use patterns. For example, the calculator might be used to evaluate the climate impacts of land use change related to bioenergy production.</p>

<h2 id="policy">Policy</h2>

<p>Policy decisions regarding the conservation of domestic lands or those affecting international land use patterns can benefit from the most complete information possible regarding the impact of those decisions on climate.  Policies aimed at climate protection through land management, including REDD+ and bioenergy sustainability standards, account for greenhouse gasses but not for biophysical processes that can sometimes outweigh greenhouse gas effects (Anderson-Teixeira <i>et al.</i>, 2011, 2012a). This calculator incorporates both greenhouse gases and biophysical climate regulation services, thereby providing a better understanding of the climate impacts of various policies. </p>

<h1 id="further-reading">Further Reading</h1>

<p>Anderson-Teixeira KJ, Snyder PK, Twine TE, Cuadra SV, Costa MH, DeLucia EH (2012a) Climate-regulation services of natural and agricultural ecoregions of the Americas. <i>Nature Climate Change</i>, 2, 177-181.</p>

<p>Anderson-Teixeira KJ, Duval BD, Long SP, DeLucia EH (2012b) Biofuels on the landscape: Is land sharing preferable to land sparing? <i>Ecological Applications</i>, 22, 2035-2048.</p>

<p>Anderson-Teixeira KJ, DeLucia EH (2011) The greenhouse gas value of ecosystems. <i>Global Change Biology</i>, 17, 425-438.</p>

<p>Anderson-Teixeira KJ, Snyder PK, DeLucia EH (2011) Do biofuels life cycle analyses accurately quantify the climate impacts of biofuels-related land use change? <i>Illinois Law Review</i>, 2011, 589-622.</p>

<p>Buckeridge MS, Souza AP, Arundale RA, Anderson-Teixeira KJ, DeLucia E (2012) Ethanol from sugarcane in Brazil: a "midway" strategy for increasing ethanol production while maximizing environmental benefits. <i>GCB Bioenergy</i>, 4, 119-126.</p>

<p>Hungate BA, Hampton HM (2012) Ecosystem services: Valuing ecosystems for climate. <i>Nature Climate Change</i>, 2, 151-152.</p>

<h1 id="acknowledgements">Acknowledgements </h1>

<h2 id="establishment-and-early-development">Calculator Establishment and Early Development</h2>

<p> Global Change Solutions, LLC.</p>

<h2 id="financial-support">Financial Support</h2>

<p> Smithsonian Women's Committee </p>

<p> BP Energy Sustainability Challenge</p>


