<h1>About the Ecosystem Climate Regulation Services Calculator</h1>

<div id="about-body">
  <p>
  Terrestrial ecosystems regulate climate through both biogeochemical(greenhouse-gas regulation) and biophysical (regulation of water and energy)mechanisms (Bonan, 2008; Chapin et al., 2008). Biogeochemical mechanismsinclude the exchange of important greenhouse gases (CO2, N2O, CH4) with theatmosphere, and biophysical mechanism include include surface reflectance ofsolar radiation (albedo) and the transfer of heat by evaporation (latent heat flux).Recently, researchers proposed an integrated index of the climate regulationvalue (CRV) of terrestrial ecosystems (Anderson-Teixeira et al., 2012; Hungate &Hampton, 2012), which combines a previous metric of the greenhouse gas value ofecosystems (GHGV; Anderson-Teixeira & DeLucia, 2011) with biophysical climateregulation services to express the climate regulation services of ecosystems inCO2 equivalents—a common currency for carbon accounting. This is the mostcomprehensive metric of ecosystem climate regulation services to date, and setsthe stage for more thorough accounting for climate regulation services in initiativesaimed at climate protection through land management (Hungate & Hampton, 2012;Anderson-Teixeira et al., 2011).
  </p>

  <p>
  The CRV calculator is a publically accessible web-based tool for estimatingCRV (or GHGV) for ecosystems globally. It incorporates global maps of climaticallysignificant ecosystem properties (e.g., biomass, soil carbon, biophysical services;Saatchi et al., 2011; Nachtergaele et al., 2010) to provide location-specific CRVestimates.
  </p>
</div>


<div id="about-citations">
  Anderson-Teixeira KJ, Snyder PK, DeLucia EH (2011)
  <br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Do biofuels life cycle analysesaccurately quantify the climate impacts of biofuels-related land use change?
  <br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Illinois Law Review, 2011, 589–622.
  <br/ >
  
  Anderson-Teixeira KJ, Snyder PK, Twine TE, Cuadra SV, Costa MH, DeLucia EH(2012) 
  <br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Climate-regulation services of natural and agricultural ecoregions ofthe Americas. 
  <br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Nature Climate Change, 2, 177–181.
  <br/ >
  
  Anderson-Teixeira KJ, DeLucia EH (2011)
  <br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  The greenhouse gas value of ecosystems.
  <br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Global Change Biology, 17, 425–438.
  <br/ >
  
  Bonan GB (2008) 
  <br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Forests and Climate Change: Forcings, Feedbacks, and the ClimateBenefits of Forests. 
  <br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Science, 320, 1444–1449.
  <br/ >
  
  Chapin FI, Randerson J, McGuire A, Foley J, Field C (2008) 
  <br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Changing feedbacks in theclimate-biosphere system. 
  <br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Frontiers in Ecology and the Environment, 6, 313–320.
  <br/ >
  
  Hungate BA, Hampton HM (2012) 
  <br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Ecosystem services: Valuing ecosystems forclimate. 
  <br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Nature Climate Change, 2, 151–152.
  <br/ >
  
  
  Nachtergaele F, Velthuizen H van, Verelst L et al. (2010) 
  <br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  The Harmonized WorldSoil Database. In: Proceedings of the 19th World Congress of Soil Science, SoilSolutions for a Changing World, Brisbane, Australia, 1-6 August 2010 (edsPrakongkep N, Gilkes RJ), pp. 34–37. 
  <br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  International Union of Soil Sciences,Brisbane, Australia.
  <br/ >
  
  
  Saatchi SS, Harris NL, Brown S et al. (2011) 
  <br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Benchmark map of forest carbon stocksin tropical regions across three continents. 
  <br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Proceedings of the NationalAcademy of Sciences, 108, 9899–9904.
  <br/ >
  
</div>
