<h1>Clients</h1>

<a href="http://www.bp.com">BP (British Petroleum)</a>
<br>
BP is one of the world's leading international oil and gas companies, providing its customers with fuel for transportation, energy for heat and light, retail services and petrochemicals products for everyday items. <br><br>
GCS collaborates with BP to analyze ecological sustainability of transitioning to energycane in the southeast for production of biofuels. <br><br>

<a href="http://www.energybiosciencesinstitute.org/index.php?option=com_content&amp;task=blogsection&amp;id=2&amp;Itemid=3">Energy Biosciences Institute</a><br>

The Energy Biosciences Institute advances knowledge in biology, the physical sciences, engineering, and environmental and social sciences to devise viable solutions to global energy challenges and reduce the impact of fossil fuels to global warming.<br><br>

GCS collaborates with EBI to analyze GHG balance and issues of ecological sustainability associated with planting, growing and harvesting a broad array of different potential biofuel crops, included miscanthus, switchgrass, prairie and woody plants.<br><br>

<a href="http://www.newenergyfarms.com/newenergyfarms/default.aspx">New Energy Farms</a><br>
New Energy Farms Ltd. is a commercial energy crop production company, providing farmers with our scalable and cost effective affiliate program to produce Miscanthus.<br><br>
GCS collaborates with NEF to analyzed productivity and GHG emissions of planting and growing Miscanthus.<br><br>

<a href="http://www.sigeo.si.edu/">Smithsonian Tropical Research Institute</a><br>
The Smithsonian Institution Global Earth Observatory (SIGEO) is a platform for research on tropical forest dynamics , including studies of carbon fluxes, and the impacts of climate change on biodiversity and forest function.<br><br>
GCS collaborates with SIGEO to design automated, self-reporting sensors for environmental and ecological monitoring.<br><br>

<a href="http://www.valdeseng.com/">Valdes Engineering Company</a><br>
Valdes provides engineering, project management, procurement and construction management services to clients in the petroleum refining, chemical, petrochemical, power, industrial, food &amp; beverage and pharmaceutical industries. <br><br>
GCS LLC collaborates with Valdes to provide feasibility studies for conversion of fossil fuel fired boilers to boilers that combust biomass from perennial grasses.<br><br>

		
		
