<h1>Contact</h1>

Business Address: <br>
605 West Delaware Avenue<br>
Urbana, Illinois USA 61801<br><br><br>
Email: <br>
Evan Delucia: <a href="mailto:evan@globalchangesolutionsllc.com">evan@globalchangesolutionsllc.com</a><br>
Stephen Long: <a href="mailto:stephen@globalchangesolutionsllc.com">stephen@globalchangesolutionsllc.com</a><br>
Kristina Anderson-Teixera: <a href="mailto:krista@globalchangesolutionsllc.com">krista@globalchangesolutionsllc.com</a><br>
Benjamin Duval: <a href="mailto:ben@globalchangesolutionsllc.com">ben@globalchangesolutionsllc.com</a>
<a href="mailto:bug_reports@globalchangesolutionsllc.com">Webmaster</a>

<p>Find me in app/views/static_pages/help.html.erb</p>
