<h1>Home</h1>
<p>
GCS is a consulting company that provides assessments of the greenhouse gas mitigation potentials of agroecosystems, with an emphasis on bioenergy crops, and natural ecosystems. Our team draws upon expertise in plant science, bioenergy, and ecology to provide customized assessments and to develop ecological instrumentation and software resources for quantifying the greenhouse gas values of ecosystems. 
</p>
<p>
We provide production estimates for bioenergy crops, assessments of the greenhouse gas balance and carbon sequestration associated with changes in land use or management practices, agronomic advising for bioenergy feedstocks, ecological instrumentation, and an online tool for calculating the greenhouse gas values of ecosystems. 
</p>
