<h1>Research</h1>


<br><h2>Media Coverage</h2>

Grasses Superior to corn for Ethanol Production <br>
<a href="http://www.soyatech.com/news_story.php?id=24360">http://www.soyatech.com/news_story.php?id=24360</a><br><br>

Miscanthus, Switchgrass Show Promise as Corn Replacements <br>
<a href="http://www.nytimes.com/gwire/2011/07/14/14greenwire-miscanthus-switchgrass-show-promise-as-corn-re-35815.html">http://www.nytimes.com/gwire/2011/07/14/14greenwire-miscanthus-switchgrass-show-promise-as-corn-re-35815.html</a><br><br>

Biofuel grasses should replace corn as a method of producing ethanol<br>
<a href="http://www.denverpost.com/breakingnews/ci_18461331">http://www.denverpost.com/breakingnews/ci_18461331</a><br><br>

Better Way to Calculate Greenhouse Gas Value of Ecosystems<br>
<a href="http://www.sciencedaily.com/releases/2010/05/100526134247.htm">http://www.sciencedaily.com/releases/2010/05/100526134247.htm</a><br><br>

Replacing Corn With Perennial Grasses Improves Carbon Footprint Of Biofuels<br>
<a href="http://news.illinois.edu/news/08/1202soilcarbon.html">http://news.illinois.edu/news/08/1202soilcarbon.html</a><br><br>

<h2>Publications</h2>



<a href="http://www.globalchangesolutionsllc.com/Davis - DeLucia Frontiers.pdf">
  Davis SC, Parton WJ, Del Grosso SJ, Keough C, Marx E, Adler PR, and DeLucia EH (2011)</a><br>
  Impact of second-generation biofuel agriculture on greenhouse-gas emissions in the corn-growing regions of the US. Frontiers in Ecology and the Environment (doi:10.1890/110003) <br><br>
</a>

<a href="http://illinoislawreview.org/wp-content/ilr-content/articles/2011/2/Anderson-Teixeira.pdf">
  Anderson-Teixeira K, Snyder P, and DeLucia E (2011) Do Biofuels life cycle analyses accurately quantify the climate impacts of biofuels-related land use change?</a> March 2011 issue of Law Review
<br><br>

<a href="http://www.life.illinois.edu/delucia/2011KristaDeLucia.pdf">Anderson-Teixeira K and DeLucia EH (2011) </a>The greenhouse gas value of ecosystems. Global Change Biology, Volume 17: 425-438 <br><br>

<a href="http://www.globalchangesolutionsllc.com/Publications/Feb 2010 Davis et al Ecosystems.pdf">Davis SC, Parton WJ, Dohleman FG, Smith CM, Del Grosso S, Kent AD, DeLucia EH</a>(2010) Comparative Biogeochemical Cycles of Bioenergy Crops Reveal Nitrogen-Fixation and Low Greenhouse Gas Emissions in a Miscanthus X giganteus Agro-Ecosystem. Ecosystems, Volume 13: 144-156<br><br>

<a href="http://www.life.illinois.edu/delucia/Delucia%20Life%20Science/PUBLICATIONS/GCBB_1001.pdf">Anderson-Teixeira KJ, Davis SC, Masters MD, DeLucia EH</a>(2009) Changes in soil organic carbon under biofuel crops. GCB Bioenergy, Volume 1:75-96 doi: 10.1111/j.1757- <br><br>

<a href="http://www.life.illinois.edu/delucia/Publications/Davis%20Life%20Cycle.pdf">Davis S, Anderson-Teixeira KJ, and DeLucia EH</a>(2008) LIfe-Cycle analysis and the ecology of biofuels. Trends in Plant Science, Volume 14, No. 3:140-146

		
		
		
		
		
		
		
		
		




		


		</table>
	</div>

		
		
