<h1>Services</h1>

<div id="servicesContent">
  <br>
  <h2>Crop production</h2>
  
  <li>How much biomass can I sustainably produce on my land?</li>
  <li>Will the amount of biomass I produce be sufficient to fuel my furnace?</li>
  <li>How will changing climatic conditions affect crop production on my farm?</li>
  <li>Can I compare the production of two or three crops on my land before investing in one?</li>
  <br><br>
  Using a physiologically based crop model we provide accurate estimates of crop production as well as how specific variations in climate will affect yields. The model predicts growth, leaf area and yields of miscanthus and other crops with remarkable precision.  
  <br><br>
  Typical model inputs include records of light, temperature and humidity; conditions of leaves in the canopy are calculated using radiative geometry, and physical principles of heat, CO<sub>2</sub> and humidity exchange. Leaf CO<sub>2</sub> uptake rate is predicted for C<sub>3</sub> and C<sub>4</sub> photosynthesis from steady-state biochemical models and coupled to a model of stomatal conductance. Growth, partitioning and allocation use empirically determined partitioning tables linked to phenological stages. Phenological stages are controlled by thermal time and day length.  <br><br>
  The model has been extensively parameterized for Miscanthus x giganteus allowing very close prediction of growth and production, from weather and soil data alone.
  <br><br>
  <img src="http://www.globalchangesolutionsllc.com/images/webpage/child_pages/services/production_estimates/cropProduction.png"><br>
  The model closely simulates biomass productions at multiple locations; observed (open circles) and predicted (closed circles) Miscanthus x giganteus above ground dry biomass in multiple year and location experiments in Europe as a function of thermal time (from GCB Bioenergy, 2009, 1:282).
  <br><br>
  <!--add references....-->
  <font size="2">Copyright © 2011 Global Change Solutions LLC</font>
  <br class="clear">
</div>

<div id="servicesContent">
	<br>		
	<h2>Greenhouse gas balance and carbon sequestration associated with land use change</h2><br>
	Our <a href="../GHGVcalc.html">greenhouse gas value calculator</a> provides free generalized estimates of the greenhouse gas effects of land use change. We also provide customized estimates specific to your land:  <br><br>
	<li>Will my proposed change in land management increase carbon sequestration?</li>
	<li>Will I be eligible to claim credit for carbon offsets?</li>
	<li>Does this rate of fertilizer application decrease nitrate losses to ground water?</li>
	<li>Can a switch to a new crop reduce the emission of greenhouses to the atmosphere?</li>
	<br><br>
Using a state-of-the-science, process-based biogeochemical model, we provide accurate estimates of how changing land use or land management affect soil carbon sequestration and the exchange of greenhouse gases (CO<sub>2</sub>, CH<sub>4</sub>, N<sub>2</sub>O) between the land surface and the atmosphere.
	<br><br>
	Our model runs on a daily time step capturing seasonal variation in biogechemical processes and has detailed descriptions of microbial-mediated N and C fluxes. The model has been used to accurately simulate the impact of grassland and agricultural management practices on soil C, trace gas fluxes (CH<sub>4</sub>, N<sub>2</sub>, NO<sub>x</sub>, and N<sub>2</sub>O), NO<sub>3</sub>- leaching, and crop yields and has been used to project regional impacts of changes in agricultural land use practices at local, national and global scales.
	<br><br>
	Typical inputs to the model include soil texture, site-specific climate variables, plant phenology and management events. The model has been used since 2005 to calculate N<sub>2</sub>O emissions from agricultural soils for the US National Greenhouse Gas Inventory compiled by the EPA and reported annually to the United Nations Framework Convention on Climate Change.
	<br><br>
	The model can be run for specific locations such as a specific farm or field, or can be scaled to larger regions. Careful parameterization and extensive validation ensure a high degree of accuracy.
	<br><br><br>
	<!--add references....-->
	<font size="2">Copyright © 2011 Global Change Solutions LLC</font>
	 <br class="clear">
</div>

<div id="servicesContent">
	<br>
	<h2>Ecosystem monitoring and custom instrumentation</h2><br>
	We can help you develop systems for measuring and reporting ecosystem processes automatically and from remote locations.
Learn about TreeHuggers© - a system for making remote, automated measurements of tree growth and forest productivity.
	<br>
	<li>How much carbon is my forest accumulating?</li>
	<li>Is my plantation responding to drought?</li>
	<li>Is the recent fertilizer application stimulating tree growth? </li>
	<br><br>
	<h2>TreeHuggers</h2>
	<i>Tree girth and self-reporting band dendrometers... ...
	imagine measuring hundreds of trees in remote locations every day, every hour, 
	every minute to track changes in girth with air and soil temperature and moisture...</i>
	<br><br>
	Forest ecosystems play a central role in the global carbon cycle; they sustain approximately 
	80% of terrestrial net primary production (NPP) and 50% of global NPP (Whittaker 1975, Field et al. 
	1998) and are a major part of the terrestrial carbon sink that removes approximately 30% of anthropogenic 
	carbon emissions each year (Canadell et al. 2007).  Changes in this terrestrial carbon sink are readily
	estimated by measuring rates of tree growth.  DeLucia's laboratory at the University of Illinois is developing 
	low-cost, self-reporting dendrometers for automated measured of tree growth.  Dendro-sensors (TreeHuggers) will 
	be of immediate use to ongoing research to monitor changes in tree growth, carbon stocks and forest productivity 
	globally.  It is also reasonable to expect that TreeHuggers will be widely deployed by governments and those 
	in the private sector involved in post-Kyoto carbon accounting activities.
	<br><br>
	The conservation of form exhibited by trees was described in the notebooks of Leonardo da Vinci and these conservative 
	allometric relationships make simple measurements of changes in tree diameter enormously powerful.  Because of the physical 
	relationship between the diameter of pipes (vascular tissue) and the rate of water flow for a given change in pressure 
	(transpiration), the relationship between tree diameter and the volume of wood, total leaf area and even root biomass 
	is highly predictable (Whitehead et al. 1984, Enquist et al. 1998, DeLucia et al. 2000).  For example, the diameter and
	"breast height" (1.45 m) predicts 98% of the variation in stem mass (converted from volume) and 92% of the variation 
	in needle mass (Naidu et al. 1998).  Thus, simple measurements of the change in stem diameter permit the calculation
	of the accumulation of biomass in trees.  <br><br>
	Less appreciated than the power of measuring changes in diameter on monthly or annual time steps, is the wealth of 
	information that can be obtained by making these measurements minute-to-minute over the course of a day.  Though not 
	readily visible to the naked eye, the stems of trees shrink and expand daily.  The magnitude of this change, which can be 
	several millimeters, is a function of the evaporative demand removing water from leaves and the supply rate of water to the 
	roots (McLaughlin et al. 2003, Biondi et al. 2005) and measurements of diel changes in stem diameter provide a robust predictor 
	of tree water status and transpiration rate (Intrigliolo and Castel 2005, Sevanto et al. 2008). 
	<br><br>
	Dendrometer bands for measuring changes in tree girth were introduced early in the 20th century (MacDougal 1921, 1924).  
	The bands consist of thin straps of metal placed around a tree, with one end passed through a collar and then connected back 
	to itself with a spring - the change in dimension is read from a Vernier scale mounted on the band (http://www.nwrc.usgs.gov/Dendrometer/#1).  
	This design still is in use, virtually unchanged, today (e.g. Moore et al. 2006).  While effective and accurate, each tree must be physically 
	visited for each measurements - for hourly measurements of different species in different forest plots, this is impractical.  Building on 
	previous efforts (e.g. Ofenthaler et al. 2001), we have designed affordable, automated dendrometer bands that self report wirelessly.
	<br><br>
	Automated, self-reporting dendrometer bands (TreeHuggers©) use a low cost but highly accurate linear string potentiometer to measure 
	changes in the length of a stainless steel strap around a tree. The signal from the transducer is then broadcast to neighboring Densors 
	arranged in a mesh network by wireless units employing ZigBee protocol.  Zigbee has incredibly low power consumption compared to WiFi, 
	enabling units to run for ~3 years on a small battery.  Once mounted, each Densor measures changes in the circumference, increases or 
	decreases, with an accuracy of ±50μm and reports this change via this wireless mesh network to a base station every 10 min.  The base 
	station provides 1 terabyte of data backup and can forward data at user defined intervals to any location via a satellite uplink.  
	This automated approach to measuring tree growth will greatly enhance studies of tree physiology, forest carbon cycling and changes 
	in phenology associated with global change.
	<br><br>
	<h2>References</h2>
	Canadell JG, Le Quéré C, et al (2007) Contributions to accelerating atmospheric CO<sub>2</sub> growth from economic activity, carbon intensity, and efficiency of natural sinks. Proceedings of the National Academy of Science 104:18866 -18870<br><br>
	DeLucia EH, Maherali H, Carey EV (2000) Climate-drive changes in biomass allocation in pines. Global Change Biology 6:587-593<br><br>
	Enquist BJ, Brown JH, West GB (1998) Allometric scaling of plant energetics and population density. Nature 395:163-165<br><br>
	Field CB, Behrenfeld MJ, Randerson JT, Falkowski P (1998). Primary production of the biosphere: Integrating terrestrial and oceanic components. Science  281, 237-240<br><br>
	Intrigliolo DS, Castel JR (2006) Usefulness of diurnal trunk shrinkage as a water stress indicator in plum trees. Tree Phyiology 26:303-311<br><br>
	MacDougal DT (1921) Growth in trees: Carnegie Institute of Washington Publication No. 307<br><br>
	MacDougal DT (1924) Dendrographic measurements, in MacDougal, D.T., and Shreve, F. eds., Growth in trees and massive organs of plants: Washington, D.C., Carnegie Institute, p. 3-88<br><br>
	Moore DJP, Aref S, Ho RM, Pippen JS, Hamilton JG, DeLucia EH (2006) Annual basal area increment and growth duration of Pinus taeda in response to eight years of free-air carbon dioxide enrichment. Global Change Biology 12:1367-1377<br><br>
	Naidu SL, DeLucia EH, Thomas RB (1998) Constrasting patterns of biomass allocation in dominant and suppressed loblolly pine. Canadian Journal of Forest Research 28: 1116-1124<br><br>
	Offenthaler I, Hietz P, Richter H (2001) Wood diameter indicates diurnal and long-term patterns of xylem water potential in Norway spruce. Trees 15:215-221<br><br>
	Sevanto S, Nikinmaa E, Riikonen A, Daley M, Pettijohn JC, Mikkelsen TN, Phillips N, Holbrook NM (2008) Linking xylem diameter variations with sap flow measurements. Plant and Soil 305:77-90<br><br>
	Whitehead D, Edwards WRN, Jarvis PG (1984) Conducting sapwood area, foliage area and permeability in mature trees of Picea sitchensis and Pinus contorta. Canadian Journal of Forest Research 14:940-947<br><br>
	Whittaker RH (1975) Communities and Ecosystems, 2nd ed. MacMillan, NY. 385 pp <br><br>
	<!--add references....-->
	<font size="2">Copyright © 2011 Global Change Solutions LLC</font>
	<br class="clear">
</div>




