<h1>Team</h1>
<table border="0" width="1160">
			<tbody><tr>
				<td>
				<img src="http://www.globalchangesolutionsllc.com/images/webpage/child_pages/team/evan.png" align="left">
				<font size="4">
					Evan Delucia
				</font>
				<br>
				<font style="italic" size="3" color="#999999">
					Founding Principal, Ph.D, M.F.S.
				</font>		
				<br>	
				<font size="2">
					Evan DeLucia is the Director and Founder of Global Change Solutions. 
					With formal background in ecology and plant physiology and extensive 
					research experience in carbon and nitrogen biogeochemistry and water use 
					by vegetation, DeLucia provides strategic leadership and management for GCS. 
					DeLucia focuses on driving the company's growth and developing new products and services.
					DeLucia earned his MS in forest ecology from Yale University and his PhD in eco-physiology 
					from Duke University. Currently, he is the G. William Arends Professor and Director of the School 
					of Integrative Biology at the University of Illinois. 
					Learn more about Professor DeLucia <a href="http://www.life.illinois.edu/delucia/">here.</a>
				</font>
				</td>
				<td>
				<img src="http://www.globalchangesolutionsllc.com/images/webpage/child_pages/team/stephan.png" align="left">
				<font size="4">
					Stephen Long
				</font>
				<br>
				<font style="italic" size="3" color="#999999">
					Founding Principal, Ph.D, M.F.S.
				</font>		
				<br>	
				<font size="2">
				Stephen Long is co-Director and co-Founder of Global Change Solutions. 
				Long has made seminal scientific contributions to understainding the response 
				of vegetation to global change and the potential of energy crops to mitigate global 
				change. He has developed mechanistic mathematical models relating environmental 
				effects to photosynthesis and he provides intellectual leadership to GCS. Long maintains 
				active collaborations outside the US, including Australia, Brazil, France, Italy, Japan, 
				Switzerland and the U.K.
				Long earned his Ph.D. in Plant Sciences at the University of Leeds (U.K.), he is 
				the Gutgesell Endowed Professor of Plant Biology and Crop Sciences at the University of Illinois and 
				he serves as the Deputy Director, Energy Biosciences Institute. Learn more about Professor Long
				<a href="http://www.life.illinois.edu/long/Long.html">here.</a><a>
				</a></font></td>
			</tr>
			
			
			<tr>
				<td>
				<img src="http://www.globalchangesolutionsllc.com/images/webpage/child_pages/team/krista.png" align="left">
				<font size="4">
 
				</font>
				<br>
				<font style="italic" size="3" color="#999999">
					Senior Research Scientist 
				</font>		
				<br>	
				<font size="2">
				Kristina Anderson-Teixeira is a Senior Research Scientist for Global Change Solutions. Her research 
				focuses on quantifying the climate regulation services of terrestrial ecosystems, understanding how 
				climate shapes terrestrial ecosystems, and applying knowledge of ecosystem-climate interactions to inform 
				land use decisions in an era of climate change.
				Dr. Anderson-Teixeira received her PhD in Biology from the University of New Mexico (2007; James H. Brown), 
				where she also studied as a postdoctoral research associate (2007-2008; Marcy E. Litvak). She is currently 
				a postdoctoral research associate at the University of Illinois (2008-present; Evan H. DeLucia). Learn more 
				about Dr. Anderson-Teixeira <a href="http://www.life.illinois.edu/teixeira/">here.     </a>
				</font>
				</td>
				<td>
				<img src="http://www.globalchangesolutionsllc.com/images/webpage/child_pages/team/benduval.png" align="left">
				<font size="4">
					Benjamin Duval 
				</font>
				<br>
				<font style="italic" size="3" color="#999999">
					Research Scientist 
				</font>		
				<br>	
				<font size="2">
				Benjamin Duval is a Research Scientist for Global Change Solutions.
				Ben's background is in soil ecology, with a focus on nitrogen and
				micro-nutrient biogeochemistry.  Ben uses a suite of methods to
				understand how humans influence the environment.  This includes but
				not limited to: computer modeling, state of the art chemical analysis
				of plants and soil, and traditional mud-and-boots ecology.  For GCS,
				Ben is currently working to understand the greenhouse gas budget of
				shifting a landscape from cattle production to a plantation devoted to
				biofuel crops in Florida.

				Ben is an alumnus of The College of Wooster, has a Master's degree
				from New Mexico State University and holds a PhD from Northern Arizona
				University.  You can see pictures of Ben's work and a full publication
				list at <a href="http://benjaminduval.net">benjaminduval.net.</a>
				</font></td>
			</tr>
			<tr>
			<td>
				<img src="http://www.globalchangesolutionsllc.com/images/webpage/child_pages/team/wes_mauer.png" align="left">
				<font size="4">
				Wes Mauer
				</font>
				<br>
				<font style="italic" size="3" color="#999999">
				Land Use and Spatial Analyst
				</font>		
				<br>	
				<font size="2">
				Wes Maurer holds a degree in environmental science and is a recent graduate from
				the University of Illinois' master of urban and regional planning program. He is utilizing
				geographic information systems technology to map past, present and future land uses
				relevant to climate change modeling. Having worked as a Natural Resources Specialist
				with the U.S. Peace Corps between 2008 and 2010, Wes maintains a professional focus
				in environmental planning, policy and research.
				</font>
				</td>
			</tr>
			<tr>
			<td>
				<img src="http://www.globalchangesolutionsllc.com/images/webpage/child_pages/team/chris.png" align="left">
				<font size="4">
				Chris Schauer   
				</font>
				<br>
				<font style="italic" size="3" color="#999999">
				Lead Programmer / Developer
				</font>		
				<br>	
				<font size="2">
				Chris Schauer is a recent graduate from the University of Illinois with a degree in computer science. 
				He is developing the web application that will make the project's "greenhouse gas value calculator" 
				accessible to the public from a web browser. He is particularly interested in the fields of graphics 
				programming and artificial intelligence. 
				</font>
				</td>
				<td>
				<img src="http://www.globalchangesolutionsllc.com/images/webpage/child_pages/team/xiu.png" align="left">
				<font size="4">
				Xiuli Shen 
				</font>
				<br>
				<font style="italic" size="3" color="#999999">
				Information Technology Specialist / Developer
				</font>		
				<br>	
				<font size="2">
				Xiuli Shen is a junior at the University of Illinois working towards a degree in computer science.  She updates
				the "greenhouse gas value calculator" and designed/developed the business' main page.  Her focus is in the field of 
				computational biology/bioinformatics.  
				</font></td>
			</tr>

		</tbody></table>
