<pft>
	<name>tropical peat forest</name>
	<category>native</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>444</OM_ag>
	<OM_root>108</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>0</OM_litter>
	<OM_peat>1388.889</OM_peat>
	<OM_SOM>88.96552</OM_SOM>
	<fc_ag_wood_litter>0.5</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>35.909</Ec_CO2>
	<Ec_CH4>0.07</Ec_CH4>
	<Ec_N2O>0.0059</Ec_N2O>
	<k_ag_wood_litter>0.167</k_ag_wood_litter>
	<k_root>0.04</k_root>
	<k_peat>0.02</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>3</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0.0275</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0.013645</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-443.333</F_CO2>
	<F_CH4>9.877813</F_CH4>
	<F_N2O>0.017103</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>0.5</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.167</dk_ag_wood_litter>
	<dk_root>0.02</dk_root>
	<dk_peat>0.02</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>tropical forest</name>
	<category>native</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>248</OM_ag>
	<OM_root>51.2</OM_root>
	<OM_wood>20</OM_wood>
	<OM_litter>10</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>88.965517</OM_SOM>
	<fc_ag_wood_litter>0.52</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>35.909</Ec_CO2>
	<Ec_CH4>0.294</Ec_CH4>
	<Ec_N2O>0.0059</Ec_N2O>
	<k_ag_wood_litter>0.167</k_ag_wood_litter>
	<k_root>0.04</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>3</termite>
	<Ed_CO2_ag_wood_litter>41.666667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.666667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0.0275</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-150.5667</F_CO2>
	<F_CH4>-0.225844</F_CH4>
	<F_N2O>0.0816074</F_N2O>
	<rd>0</rd>
	<tR>23</tR>
	<FR_CO2>-127.3521</FR_CO2>
	<FR_CH4>-0.225844</FR_CH4>
	<FR_N2O>0.0309627</FR_N2O>
	<dfc_ag_wood_litter>0.36</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.167</dk_ag_wood_litter>
	<dk_root>0.04</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>northern peatland</name>
	<category>native</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>100</OM_ag>
	<OM_root>17.6</OM_root>
	<OM_wood>3.2</OM_wood>
	<OM_litter>0</OM_litter>
	<OM_peat>944.4444</OM_peat>
	<OM_SOM>110.6897</OM_SOM>
	<fc_ag_wood_litter>0.5</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>35.65909</Ec_CO2>
	<Ec_CH4>0.07</Ec_CH4>
	<Ec_N2O>0.005909</Ec_N2O>
	<k_ag_wood_litter>0.04</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0.02</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0.013645</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-21.8333</F_CO2>
	<F_CH4>9.877813</F_CH4>
	<F_N2O>0.008551</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>0.5</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.04</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0.02</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>marsh & swamp</name>
	<category>native</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>150</OM_ag>
	<OM_root>19.4</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>17.22222</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>105.1724</OM_SOM>
	<fc_ag_wood_litter>0.7</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>36.36364</Ec_CO2>
	<Ec_CH4>0.109091</Ec_CH4>
	<Ec_N2O>0.008727</Ec_N2O>
	<k_ag_wood_litter>0.59</k_ag_wood_litter>
	<k_root>0.59</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.333333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-50.4167</F_CO2>
	<F_CH4>16.425</F_CH4>
	<F_N2O>0.065415</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>0.7</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.59</dk_ag_wood_litter>
	<dk_root>0.59</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>temperate forest</name>
	<category>native</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>404</OM_ag>
	<OM_root>94</OM_root>
	<OM_wood>102</OM_wood>
	<OM_litter>51.35135</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>82.75862</OM_SOM>
	<fc_ag_wood_litter>0.51</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>35.65909</Ec_CO2>
	<Ec_CH4>0.29375</Ec_CH4>
	<Ec_N2O>0.005909</Ec_N2O>
	<k_ag_wood_litter>0.036875</k_ag_wood_litter>
	<k_root>0.02</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>3</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-168.333</F_CO2>
	<F_CH4>-0.22584</F_CH4>
	<F_N2O>0.025755</F_N2O>
	<rd>0</rd>
	<tR>75</tR>
	<FR_CO2>-40.8523</FR_CO2>
	<FR_CH4>-0.22584</FR_CH4>
	<FR_N2O>0.025755</FR_N2O>
	<dfc_ag_wood_litter>0.43</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.04</dk_ag_wood_litter>
	<dk_root>0.02</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>aggrading temperate non-forest</name>
	<category>aggrading</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>0</OM_ag>
	<OM_root>1.6</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>1.081081</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>0</OM_SOM>
	<fc_ag_wood_litter>0.8</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>34.43182</Ec_CO2>
	<Ec_CH4>0.16875</Ec_CH4>
	<Ec_N2O>0.0015909</Ec_N2O>
	<k_ag_wood_litter>0.4</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.333333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-131.667</F_CO2>
	<F_CH4>-0.18934</F_CH4>
	<F_N2O>0.029274</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>-9999</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.4</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>10</age_transition>
	<new_F_CO2>-9.17036</new_F_CO2>
	<new_F_CH4>-0.14828</new_F_CH4>
	<new_F_N2O>0.012038</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>boreal forest</name>
	<category>native</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>152</OM_ag>
	<OM_root>36</OM_root>
	<OM_wood>5.8</OM_wood>
	<OM_litter>59.45946</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>48.27586</OM_SOM>
	<fc_ag_wood_litter>0.59</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>35.65909</Ec_CO2>
	<Ec_CH4>0.29375</Ec_CH4>
	<Ec_N2O>0.005909</Ec_N2O>
	<k_ag_wood_litter>0.04</k_ag_wood_litter>
	<k_root>0.02</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-33.9333</F_CO2>
	<F_CH4>-0.22584</F_CH4>
	<F_N2O>0.025755</F_N2O>
	<rd>0</rd>
	<tR>75</tR>
	<FR_CO2>-40.8523</FR_CO2>
	<FR_CH4>-0.22584</FR_CH4>
	<FR_N2O>0.025755</FR_N2O>
	<dfc_ag_wood_litter>0.43</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.04</dk_ag_wood_litter>
	<dk_root>0.02</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>aggrading tropical non-forest</name>
	<category>aggrading</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>0</OM_ag>
	<OM_root>1.6</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>1.081081</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>0</OM_SOM>
	<fc_ag_wood_litter>0.8</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>34.43182</Ec_CO2>
	<Ec_CH4>0.16875</Ec_CH4>
	<Ec_N2O>0.001591</Ec_N2O>
	<k_ag_wood_litter>2.33</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-127.689</F_CO2>
	<F_CH4>-0.18934</F_CH4>
	<F_N2O>0.012286</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>-9999</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.4</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>75</age_transition>
	<new_F_CO2>-22.6299</new_F_CO2>
	<new_F_CH4>-0.18934</new_F_CH4>
	<new_F_N2O>0.029274</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>aggrading boreal forest</name>
	<category>aggrading</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>0</OM_ag>
	<OM_root>1.6</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>1.081081</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>0</OM_SOM>
	<fc_ag_wood_litter>0.8</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>34.43182</Ec_CO2>
	<Ec_CH4>0.16875</Ec_CH4>
	<Ec_N2O>0.001591</Ec_N2O>
	<k_ag_wood_litter>0.4</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-149.792</F_CO2>
	<F_CH4>-0.22584</F_CH4>
	<F_N2O>0.025755</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>-9999</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.4</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>75</age_transition>
	<new_F_CO2>-9.25455</new_F_CO2>
	<new_F_CH4>-0.22584</new_F_CH4>
	<new_F_N2O>0.025755</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>switchgrass</name>
	<category>biofuels</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>5.36</OM_ag>
	<OM_root>12.9</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>10.5</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>0</OM_SOM>
	<fc_ag_wood_litter>0</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>34.43182</Ec_CO2>
	<Ec_CH4>0.16875</Ec_CH4>
	<Ec_N2O>0.001591</Ec_N2O>
	<k_ag_wood_litter>0.4</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-0.56667</F_CO2>
	<F_CH4>-0.12547</F_CH4>
	<F_N2O>0.045302</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>-9999</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.4</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>14.71212</F_anth>
</pft>
<pft>
	<name>temperate grassland</name>
	<category>native</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>2.4</OM_ag>
	<OM_root>14</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>5.405405</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>60.34483</OM_SOM>
	<fc_ag_wood_litter>0.83</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>36.65909</Ec_CO2>
	<Ec_CH4>0.14375</Ec_CH4>
	<Ec_N2O>0.004773</Ec_N2O>
	<k_ag_wood_litter>0.4</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-33.6246</F_CO2>
	<F_CH4>-0.14828</F_CH4>
	<F_N2O>0.012038</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>0.83</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.4</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>aggrading tropical forest</name>
	<category>aggrading</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>0</OM_ag>
	<OM_root>1.6</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>1.081081</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>0</OM_SOM>
	<fc_ag_wood_litter>0.8</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>34.43182</Ec_CO2>
	<Ec_CH4>0.16875</Ec_CH4>
	<Ec_N2O>0.001591</Ec_N2O>
	<k_ag_wood_litter>0.4</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-466.9579</F_CO2>
	<F_CH4>-0.225844</F_CH4>
	<F_N2O>0.030963</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>-9999</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>2.33</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>23</age_transition>
	<new_F_CO2>-41.06364</new_F_CO2>
	<new_F_CH4>-0.225844</new_F_CH4>
	<new_F_N2O>0.081607</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>temperate scrub/woodland</name>
	<category>native</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>48</OM_ag>
	<OM_root>48</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>5.945946</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>46.55172</OM_SOM>
	<fc_ag_wood_litter>0.75</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>36.65909</Ec_CO2>
	<Ec_CH4>0.14375</Ec_CH4>
	<Ec_N2O>0.004773</Ec_N2O>
	<k_ag_wood_litter>0.132</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-141.319</F_CO2>
	<F_CH4>-0.18934</F_CH4>
	<F_N2O>0.012534</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>0.75</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.132</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>tropical savanna</name>
	<category>native</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>21.2</OM_ag>
	<OM_root>38</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>14.0540541</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>68.9655172</OM_SOM>
	<fc_ag_wood_litter>0.75</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>36.6590909</Ec_CO2>
	<Ec_CH4>0.14375</Ec_CH4>
	<Ec_N2O>0.004773</Ec_N2O>
	<k_ag_wood_litter>0.197</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>3</termite>
	<Ed_CO2_ag_wood_litter>41.666667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.666667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.333333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0.0275</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-82.9761905</F_CO2>
	<F_CH4>-0.18934375</F_CH4>
	<F_N2O>0.02927426</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>0.75</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.197</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>desert</name>
	<category>native</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>7</OM_ag>
	<OM_root>18</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>0.27027</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>32.75862</OM_SOM>
	<fc_ag_wood_litter>0.75</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>36.65909</Ec_CO2>
	<Ec_CH4>0.14375</Ec_CH4>
	<Ec_N2O>0.004773</Ec_N2O>
	<k_ag_wood_litter>0.4</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-10.6944</F_CO2>
	<F_CH4>-0.18934</F_CH4>
	<F_N2O>0.005357</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>0.75</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.4</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>tundra</name>
	<category>native</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>12.4</OM_ag>
	<OM_root>22</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>120</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>74.13793</OM_SOM>
	<fc_ag_wood_litter>0.5</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>36.65909</Ec_CO2>
	<Ec_CH4>0.14375</Ec_CH4>
	<Ec_N2O>0.004773</Ec_N2O>
	<k_ag_wood_litter>0.4</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-26.0417</F_CO2>
	<F_CH4>-0.18934</F_CH4>
	<F_N2O>0.012038</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>0.5</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.4</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>tropical pasture</name>
	<category>agroecosystem</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>3.6</OM_ag>
	<OM_root>15.2</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>0</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>68.96552</OM_SOM>
	<fc_ag_wood_litter>0.83</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>36.65909</Ec_CO2>
	<Ec_CH4>0.14375</Ec_CH4>
	<Ec_N2O>0.004773</Ec_N2O>
	<k_ag_wood_litter>0.4</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>3</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0.0275</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-35</F_CO2>
	<F_CH4>3.664219</F_CH4>
	<F_N2O>0.067387</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>-9999</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.4</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>temperate pasture</name>
	<category>agroecosystem</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>2.4</OM_ag>
	<OM_root>14</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>5.405405</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>60.34483</OM_SOM>
	<fc_ag_wood_litter>0.83</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>36.65909</Ec_CO2>
	<Ec_CH4>0.14375</Ec_CH4>
	<Ec_N2O>0.004773</Ec_N2O>
	<k_ag_wood_litter>0.4</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>5.470516</F_CO2>
	<F_CH4>0.29773</F_CH4>
	<F_N2O>0.134268</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>-9999</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.4</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>tropical cropland</name>
	<category>agroecosystem</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>10</OM_ag>
	<OM_root>1.6</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>1.081081</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>0</OM_SOM>
	<fc_ag_wood_litter>0.8</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>34.4182</Ec_CO2>
	<Ec_CH4>0.16875</Ec_CH4>
	<Ec_N2O>0.001591</Ec_N2O>
	<k_ag_wood_litter>0.4</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>0</F_CO2>
	<F_CH4>-0.12547</F_CH4>
	<F_N2O>0.152066</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>-9999</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.4</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>35.68182</F_anth>
</pft>
<pft>
	<name>temperate cropland</name>
	<category>agroecosystem</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>10</OM_ag>
	<OM_root>1.6</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>1.081081</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>0</OM_SOM>
	<fc_ag_wood_litter>0.8</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>34.43182</Ec_CO2>
	<Ec_CH4>0.16875</Ec_CH4>
	<Ec_N2O>0.001591</Ec_N2O>
	<k_ag_wood_litter>0.4</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>0</F_CO2>
	<F_CH4>-0.12547</F_CH4>
	<F_N2O>0.151424</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>-9999</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.4</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>15</F_anth>
</pft>
<pft>
	<name>wetland rice</name>
	<category>agroecosystem</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>10</OM_ag>
	<OM_root>1.9</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>5.945946</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>106.8966</OM_SOM>
	<fc_ag_wood_litter>0.8</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>34.43182</Ec_CO2>
	<Ec_CH4>0.16875</Ec_CH4>
	<Ec_N2O>0.001591</Ec_N2O>
	<k_ag_wood_litter>0.59</k_ag_wood_litter>
	<k_root>0.59</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>0</F_CO2>
	<F_CH4>22.8125</F_CH4>
	<F_N2O>0.096883</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>-9999</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.59</dk_ag_wood_litter>
	<dk_root>0.59</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>14.09091</F_anth>
</pft>
<pft>
	<name>miscanthus</name>
	<category>biofuels</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>17.6</OM_ag>
	<OM_root>19.75</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>8</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>0</OM_SOM>
	<fc_ag_wood_litter>0</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>34.43182</Ec_CO2>
	<Ec_CH4>0.16875</Ec_CH4>
	<Ec_N2O>0.001591</Ec_N2O>
	<k_ag_wood_litter>0.4</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-0.84167</F_CO2>
	<F_CH4>-0.12547</F_CH4>
	<F_N2O>0.008491</F_N2O>
	<rd>-9999</rd>
	<tR>-9999</tR>
	<FR_CO2>0</FR_CO2>
	<FR_CH4>0</FR_CH4>
	<FR_N2O>0.4</FR_N2O>
	<dfc_ag_wood_litter>0.4</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>-9999</dfc_peat>
	<dk_ag_wood_litter>-9999</dk_ag_wood_litter>
	<dk_root>-9999</dk_root>
	<dk_peat>-9999</dk_peat>
	<age_transition>0</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>7.143939</F_anth>
</pft>
<pft>
	<name>aggrading temperate forest</name>
	<category>aggrading</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>0</OM_ag>
	<OM_root>1.6</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>1.081081</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>0</OM_SOM>
	<fc_ag_wood_litter>0.8</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>34.43182</Ec_CO2>
	<Ec_CH4>0.16875</Ec_CH4>
	<Ec_N2O>0.001591</Ec_N2O>
	<k_ag_wood_litter>0.4</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-199.35</F_CO2>
	<F_CH4>-0.225844</F_CH4>
	<F_N2O>0.025755</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>-9999</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.4</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>72</age_transition>
	<new_F_CO2>-45.9091</new_F_CO2>
	<new_F_CH4>-0.22584</new_F_CH4>
	<new_F_N2O>0.025755</new_F_N2O>
	<F_anth>0</F_anth>
</pft>
<pft>
	<name>US corn</name>
	<category>biofuels</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>4.2</OM_ag>
	<OM_root>3.4</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>2</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>0</OM_SOM>
	<fc_ag_wood_litter>0</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>34.43182</Ec_CO2>
	<Ec_CH4>0.16875</Ec_CH4>
	<Ec_N2O>0.001591</Ec_N2O>
	<k_ag_wood_litter>0.4</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>0</F_CO2>
	<F_CH4>-0.12547</F_CH4>
	<F_N2O>0.16495</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>-9999</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.4</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>19</F_anth>
</pft>
<pft>
	<name>US soy</name>
	<category>biofuels</category>
	<T_A>100</T_A>
	<T_E>50</T_E>
	<r>0</r>
	<OM_ag>1.2</OM_ag>
	<OM_root>2.4</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>2.8</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>0</OM_SOM>
	<fc_ag_wood_litter>0</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>34.43182</Ec_CO2>
	<Ec_CH4>0.16875</Ec_CH4>
	<Ec_N2O>0.001591</Ec_N2O>
	<k_ag_wood_litter>0.4</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.66667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.66667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.33333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>0</F_CO2>
	<F_CH4>-0.12547</F_CH4>
	<F_N2O>0.0967</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>-9999</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.4</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>8.916667</F_anth>
</pft>
<pft>
	<name>BR soy</name>
	<OM_ag>1.346408</OM_ag>
	<OM_root>0.212</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>2.8</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>0</OM_SOM>
	<fc_ag_wood_litter>0</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>34.4318181818182</Ec_CO2>
	<Ec_CH4>0.16875</Ec_CH4>
	<Ec_N2O>0.001590909090909</Ec_N2O>
	<k_ag_wood_litter>2.33</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.6666666666667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.6666666666667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.3333333333333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>0</F_CO2>
	<F_CH4>-0.12546875</F_CH4>
	<F_N2O>0.114856071428571</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>-9999</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.4</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>8.91666666666667</F_anth>
</pft>
<pft>
	<name>BR Sugarcane</name>
	<OM_ag>15</OM_ag>
	<OM_root>10</OM_root>
	<OM_wood>0</OM_wood>
	<OM_litter>12.4</OM_litter>
	<OM_peat>0</OM_peat>
	<OM_SOM>0</OM_SOM>
	<fc_ag_wood_litter>0</fc_ag_wood_litter>
	<fc_root>0</fc_root>
	<fc_peat>0</fc_peat>
	<fc_SOM>0</fc_SOM>
	<Ec_CO2>34.4318181818182</Ec_CO2>
	<Ec_CH4>0.16875</Ec_CH4>
	<Ec_N2O>0.001590909090909</Ec_N2O>
	<k_ag_wood_litter>0.4</k_ag_wood_litter>
	<k_root>0.4</k_root>
	<k_peat>0</k_peat>
	<k_SOM>0.4</k_SOM>
	<termite>0</termite>
	<Ed_CO2_ag_wood_litter>41.6666666666667</Ed_CO2_ag_wood_litter>
	<Ed_CO2_root>41.6666666666667</Ed_CO2_root>
	<Ed_CO2_peat>45</Ed_CO2_peat>
	<Ed_CO2_litter>48.3333333333333</Ed_CO2_litter>
	<Ed_CH4_ag_wood_litter>0</Ed_CH4_ag_wood_litter>
	<Ed_CH4_root>0</Ed_CH4_root>
	<Ed_CH4_peat>0</Ed_CH4_peat>
	<Ed_CH4_litter>0</Ed_CH4_litter>
	<Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
	<Ed_N2O_root>0</Ed_N2O_root>
	<Ed_N2O_peat>0</Ed_N2O_peat>
	<Ed_N2O_litter>0</Ed_N2O_litter>
	<F_CO2>-19.5833333333333</F_CO2>
	<F_CH4>-0.06546875</F_CH4>
	<F_N2O>0.116590714285714</F_N2O>
	<rd>0</rd>
	<tR>-9999</tR>
	<FR_CO2>-9999</FR_CO2>
	<FR_CH4>-9999</FR_CH4>
	<FR_N2O>-9999</FR_N2O>
	<dfc_ag_wood_litter>-9999</dfc_ag_wood_litter>
	<dfc_root>0</dfc_root>
	<dfc_peat>0</dfc_peat>
	<dk_ag_wood_litter>0.4</dk_ag_wood_litter>
	<dk_root>0.4</dk_root>
	<dk_peat>0</dk_peat>
	<age_transition>-9999</age_transition>
	<new_F_CO2>-9999</new_F_CO2>
	<new_F_CH4>-9999</new_F_CH4>
	<new_F_N2O>-9999</new_F_N2O>
	<F_anth>12.6818181818182</F_anth>
</pft>
