
<div id="geo_refined_input">
  <div id="map_canvas"></div>
  <h3 class="center, inline-block">Sites within a </h3>
  <select id="radius" class="center, inline-block">
    <option value="20">20</option>
    <option value="40">40</option>
    <option value="60">60</option>
    <option value="80">80</option>
    <option value="100">100</option>
    <option value="200" selected >200</option>
  </select> 
  <h3 class="center, inline-block"> mi² area</h3>
</div>

<script type="text/javascript">
  var geocoder;
  var address;
  var latlng = new google.maps.LatLng(40.44,-95.98);
  var myOptions = {
    zoom: 4,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

  overlay = [];

  google.maps.event.addListener(map, "click", function(event) { 
    console.log("google maps addListener triggered");
    
    if(overlay.length > 0) {        
      overlay[0].setMap(null);
      overlay.length = 0;
    }
    
    var radius = $('#radius').val();
    console.log("radius set at: " + radius );
    
    var lat = event.latLng.lat();
    var lon = event.latLng.lng();
    
    var latOffset = radius/(69.1);
    var lonOffset = radius/(53.0);
    var paths = [
       new google.maps.LatLng(lat + latOffset, lon + lonOffset),
       new google.maps.LatLng(lat - latOffset, lon + lonOffset),
       new google.maps.LatLng(lat - latOffset, lon - lonOffset),
       new google.maps.LatLng(lat + latOffset, lon - lonOffset),
       new google.maps.LatLng(lat + latOffset, lon + lonOffset)
    ];
    
    // Sends out the square object to google maps to be drawn
    overlay.push( new google.maps.Polygon({
      paths: paths,
      strokeColor: "#ff0000",
      strokeWeight: 0,
      strokeOpacity: 1,
      fillColor: "#ff0000",
      fillOpacity: 0.2,
      clickable: false,
      map: map
    }))
    
  });

</script>

<%#= p @ecosystems %>

<div class="container-fluid">  
   <div class="accordion" id="geo_refined_pft_accordion">
      <!-- ###### Native ####### -->
      <div class="accordion-group">  
        <div class="accordion-heading">  
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">  
            Native
          </a>  
        </div>  
        <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">  
          <div class="accordion-inner">
            <% for e in 0...@ecosystems.length %>
              <% if @ecosystems[e]["category"].to_s == "native" %>
                <%= p @ecosystems[e]["name"] %> <br />
              <% end %>
            <% end %>
          </div>  
        </div>  
      </div> <!-- <div class="accordion-group"> -->
      
      <!-- ###### Aggrading ####### -->
      <div class="accordion-group">  
        <div class="accordion-heading">  
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">  
           Aggrading  
          </a>  
        </div>  
        <div id="collapseTwo" class="accordion-body collapse">  
          <div class="accordion-inner">  
            <% for e in 0...@ecosystems.length %>
              <% if @ecosystems[e]["category"].to_s == "aggrading" %>
                <%= p @ecosystems[e]["name"] %> <br />
              <% end %>
            <% end %> 
          </div>  
        </div>  
      </div> <!-- <div class="accordion-group"> -->
      
      <!-- ###### Agroecosystems ####### -->
      <div class="accordion-group">  
        <div class="accordion-heading">  
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">  
            Agroecosystems
          </a>  
        </div>  
        <div id="collapseThree" class="accordion-body collapse">  
          <div class="accordion-inner">  
            <% for e in 0...@ecosystems.length %>
              <% if @ecosystems[e]["category"].to_s == "agroecosystem" %>
                <%= p @ecosystems[e]["name"] %> <br />
              <% end %>
            <% end %> 
          </div>  
        </div>  
      </div> <!-- <div class="accordion-group"> -->
      
      <!-- ###### Biofuels ####### -->
      <div class="accordion-group">  
        <div class="accordion-heading">  
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">  
            Biofuels
          </a>  
        </div>  
        <div id="collapseThree" class="accordion-body collapse">  
          <div class="accordion-inner">  
            <% for e in 0...@ecosystems.length %>
              <% if @ecosystems[e]["category"].to_s == "biofuels" %>
                <%= p @ecosystems[e]["name"] %> <br />
              <% end %>
            <% end %> 
          </div>  
        </div>  
      </div> <!-- <div class="accordion-group"> -->
      
  </div> <!-- <div class="container-fluid">  -->
</div> <!-- <div class="accordion" id="accordion2"> -->




<%#= render 'form' %>

<%#= link_to 'Back', workflows_path %>
