<div class="btn-group dropdown center">
  <button class="btn map_type_selector active">VEGTYPE</button>
  <!--  <button class="btn map_type_selector">GLOBALBIOMES</button>-->
  <button class="btn map_type_selector">GEOPOLITICAL</button>
</div>

<div id="geo_refined_input">
  <div id="map_canvas"></div>
</div>

<!-- https://developers.google.com/maps/documentation/javascript/maptypes -->

<!-- <p>Click the map to choose location coordinates.</p> -->

<div id="ecosystem_json_store">
<%#= p @name_indexed_ecosystems.to_json %>
</div>

<div id="add_additional_biome_site" class="btn btn-large btn-primary inline-table">
  <i class="glyphicon glyphicon-plus-sign"></i>
  Add Additional Location
</div>

<div id="location_counter_container" class="inline-table">
  <h4>
    Number of Locations Added:
    <span id="total_location_count">1</span>
    (maximum is 10)
  </h4>
</div>

<br />

<div id="ecosystem_popup" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
          <%= render :partial => "ecosystem_data_popup" %>
        </center>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div id="ghgvcR_processing_popup" class="lightbox hide fade"  role="dialog" aria-hidden="true">
    <div class='lightbox-header'></div>
    <div class='lightbox-content'>
      <h2>...Model Processing...</h2>
      <%= image_tag "processing.gif" %>
    </div>
</div>

<!--This is where all the biome adding happens, however its handled in jQuery-->
<div id="biome_input_container">

<p id="synmap-key" style="color: red; font-size: 18px; display: none;">*Most likely vegetation type(s) in the year 2000.</p>
</div>

<a id="toggle_ghgvcR_processing_popup" data-toggle="lightbox" href="#ghgvcR_processing_popup"></a>

<div id="run_button_container" class="">
    <div id="run_ghgvc_calculator" class="btn btn-md btn-success inline-block">
      Run Calculator
      <i class="glyphicon glyphicon-leaf"></i>
    </div>

    <button class="btn btn-md btn-info" type="button" data-toggle="collapse" data-target="#advanced-settings" aria-expanded="false" aria-controls="advanced-settings">
      Advanced Settings <span class="glyphicon glyphicon-cog" />
    </button>
    <%= render :partial => "advanced_settings" %>

    <div id="calc_sub_modules" class="inline-block">
      <input type="checkbox" id="biogeochemical" name="biogeochemical" value="biogeochemical">Biogeochemical</input> <br />
      <input type="checkbox" id="biophysical" name="biophysical" value="biophysical">Biophysical</input>
    </div>
</div>

<!-- Start tabs -->
<div id="charts_container" class="hidden">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#technical" aria-controls="technical" role="tab" data-toggle="tab">Technical</a></li>
    <li role="presentation"><a href="#layperson" aria-controls="layperson" role="tab" data-toggle="tab">Miles Driven</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="technical">
      <div id="co2_container"></div>
    </div>
      <div role="tabpanel" class="tab-pane" id="layperson">
      <div id="mi_container"></div>
    </div>
  </div>
</div>

<p id="dot_container"></p>

<a onclick="convert_to_csv(json_data)" class="link_no_underline">
<div id="csv_download_button" class="btn btn-large btn-success">
  Download .CSV
  <i class="glyphicon glyphicon-download-alt"></i>
</div>
</a>

<br />
<hr />
<br />

<a href="/" class="link_no_underline">
  <div id="new_simulation_button" class="btn btn-large btn-success">
    Run New Simulation <i class="glyphicon glyphicon-leaf"></i>
  </div>
</a>

<%= p @biome.to_s %>

<%#= render 'form' %>

<%#= link_to 'Back', workflows_path %>

<div id="flux_chart" class="inline-table"></div>
