// Place all the styles related to the Workflows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map_canvas { 
  width: 860px;
  height: 500px;
  margin: auto;
}

