@import "custom";
@import "nouislider.min";
#radius {
    width: 100px;
}

[id*="_charts"] {
    clear: all;
}

#map_canvas,
div[id|='biome_instance'] {
    width: 1025px;
}

#location_counter_container {
    h4 {
        position: relative;
        top: 15px;
    }
}

.biome_match label {
    width: 140px;
}

#map_canvas {
    width: 1025px;
    height: 600px;
}

#csv_download_button,
#new_simulation_button {
    display: none;
    width: 200px;
    margin: auto;
}

a.link_no_underline:hover {
    text-decoration: none;
}

h2.application_title {
    margin-bottom: 5px;
}

.map_type_selector {
    display: none;
}

.legend_color_container {
    text-align: right;
    vertical-align: top;
    margin-right: 2px;
    width: 16px;
    float: left;
}

[id*="legend_color"] {
    height: 10px;
    width: 10px;
    text-align: left;
    margin-right: 2px;
}

.legend-text {
    text-align: left;
    font-size: 10px;
    line-height: 110%;
    width: 200px;
    margin-right: 10px;
}


/*good*/

#legend_color01 {
    background-color: #3333ff;
}


/*good*/

#legend_color02 {
    background-color: #407ff1;
}


/*good*/

#legend_color03 {
    background-color: #4ef1e3;
}


/*good*/

#legend_color04 {
    background-color: #5dddd5;
}


/*good*/

#legend_color05 {
    background-color: #6c59c5;
}


/*good*/

#legend_color06 {
    background-color: #7a3ab7;
}


/*good*/

#legend_color07 {
    background-color: #89a8a9;
}


/*good*/

#legend_color08 {
    background-color: #99fe99;
}


/*good*/

#legend_color09 {
    background-color: #a6b18b;
}


/*good*/

#legend_color10 {
    background-color: #b53e7d;
}


/*good*/

#legend_color11 {
    background-color: #c3526e;
}


/*good*/

#legend_color12 {
    background-color: #d2d65f;
}


/*good*/

#legend_color13 {
    background-color: #e1f551;
}


/*good*/

#legend_color14 {
    background-color: #ef8842;
}


/*good*/

#legend_color15 {
    background-color: #fe3334;
}


/*good*/

.json_store,
.json_final,
.json_saved {
    display: none;
}

#current_ecosystem_store {
    display: none;
}

#popup_save_ecosystem_modifications,
#popup_discard_ecosystem_modifications {
    margin: 0px 10px 0px 0px;
}

.biome_site_header {
    width: 300px;
}

#ecosystem_popup {
    text-align: left;
}

#add_additional_biome_site {
    margin: 10px auto;
}

#add_additional_biome_site.off_page {
    position: relative;
    left: -1000px;
}

.inactive_site {
    background-color: darkGray;
    color: grey;
    height: auto;
    cursor: pointer;
    div[class*='_biomes'] {
        height: auto;
    }
}

.table {
    margin-bottom: 0;
}

.collapsed {
    height: 0%;
}

hr {
    margin: 0 0 5px 0;
}

.remove_biome_site {
    margin-left: 5px;
    z-index: 10;
}

div[id|='biome_instance'] {
    width: 1010px;
    margin: auto;
}

#biome_input_container {
    div[class*='_biomes'] {
        vertical-align: top;
        width: 210px;
    }
}

#ecosystem_popup {
    #hidden_close_button {
        display: none;
    }
    #ecosystem_edit {
        width: 900px;
        height: 500px;
        overflow-y: auto;
        /* allows the tables to scroll */
        thead {
            display: block;
            height: 30px;
        }
        /* allows the tables to scroll */
        tbody {
            height: 200px;
            overflow: auto;
            display: block;
        }
    }
}

div[class*='_biomes'] {
    width: 220px;
    height: 200px;
    margin: auto;
    padding-left: 5px;
    vertical-align: top;
    overflow: hidden;
    select {
        width: 200px;
    }
    .biome_list {
        label {
            margin-right: 5px;
        }
        a {
            width: 20px;
        }
        i {
            cursor: pointer;
        }
    }
}

#geo_refined_input {
    text-align: center;
    margin: auto;
}

#geo_refined_pft_accordion {
    width: 860px;
    margin: auto;
    .popup_cite_dropdown {
        width: 340px;
    }
    .popup_value_field {
        width: 100px;
    }
    .accordion-group {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    a {
        color: #000;
        font-weight: bold;
        padding: 10px;
        background-color: $green1;
        &:visited {
            color: #666;
        }
        &:hover {
            color: #fff;
            background-color: $green3;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
    }
}

#run_ghgvc_calculator {
    vertical-align: middle;
    width: 1025;
    margin: auto;
}

#calc_sub_modules {
    vertical-align: middle;
    display: none;
    font-size: 12px;
    line-height: 120%;
    height: 30px;
    input {
        position: relative;
        top: -4px;
    }
}

#run_button_container {
    margin: auto;
    padding: 7px;
}

.action-link {
    padding-left: 2px;
    padding-right: 2px;
}

.download-pdf-icon {
    width: 20px;
    height: 20px;
}

#advanced-settings {
    margin-top: 5px;
}

#advanced-settings-content {
    padding-top: 10px;
}

// Custom styles for UI Slider
.ui-slider {
    margin: 5px;
}

// Put the slider number at bottom
.noUi-origin .noUi-handle .noUi-tooltip {
    left: 50px;
    top: -3px;
    bottom: initial;
    border: 0;
    background-color: transparent;
    font-size: 1em;
}

.purple .noUi-connect {
    background-color: #D99DEE;
}

.blue .noUi-connect {
    background-color: #74B1FF;
}

.inline-checkbox {
    margin-right: 5px !important;
}

// Prevent text wrapping on tooltips & make the tips a little wider
.popover {
    width: 400px;
    max-width: 400px;
}

.popover-content {
    white-space: pre-wrap;
}

#dot_container {
    padding: 20px 40px;
}