@import "custom";

#radius {
  width: 100px;
}

#map_canvas { 
  width: 960px;
  height: 400px;
  margin: auto;
}

.json_store, .json_final, .json_saved {
  display: none;
}

#current_ecosystem_store {
  display: none;
}

#popup_save_ecosystem_modifications, #popup_discard_ecosystem_modifications {
  margin: 20px 0px 0px 150px;
}


.biome_site_header {
  width: 300px;
}

#ecosystem_popup {
  text-align: left;
}

#add_additional_biome_site {
  margin: 10px auto;
}

.inactive_site {
  background-color: darkGray;
  color: grey;
  height: auto;
  cursor: pointer;
  div[class*='_biomes']{
    height: auto;
  }
}

.table {
  margin-bottom: 0;
}

.collapsed {
  height: 0%;
}

hr {
  margin: 0 0 10px 0;
}

.remove_biome_site {
  margin-left: 5px;
  z-index: 10;
}

div[id|='biome_instance'] {
  width: 940px;
}

#biome_input_container {

  div[class*='_biomes'] {
    vertical-align: top;
    width: 210px;
  
  }
}

#ecosystem_popup {
  #hidden_close_button {
    display:none;
  }
  #ecosystem_edit {
    width: 900px;
    /* allows the tables to scroll */
    thead {
      display:block;
      height: 30px;
      
    }
    /* allows the tables to scroll */
    tbody {
      height: 200px; 
      overflow:auto; 
      display:block;
    }
    
  }
}


div[class*='_biomes'] {
  width: 220px;
  height: 200px;
  margin: auto;
  padding-left: 5px;
  vertical-align: top;
  overflow: hidden;
  select {
    width: 200px;
  }
  .biome_list {
    label {
      margin-right: 5px;
    }
    a {
      width: 20px;
    }
    i {
      cursor: pointer;
    }
  }
}

#geo_refined_input {
  text-align: center;
  margin: auto;
}


#geo_refined_pft_accordion {
  width: 860px;
  margin: auto;
  .popup_cite_dropdown {
    width: 340px;
  }
  .popup_value_field {
    width: 100px;
  }
  a {
    color: #000;
    font-weight: bold;
    padding: 18px;
    background-color: $green1;
    &:visited {
      color: #666;
    }
    &:hover {
      color: #fff;
      background-color: $green3;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }
}

