@import "custom";

#radius {
  width: 100px;
}

#map_canvas { 
  width: 700px;
  height: 400px;
  margin: auto;
}

div[id*='_biomes'] {
  display: none;
  width: 720px;
  margin: auto;
}

#geo_refined_input {
  text-align: center;
  margin: auto;
}



#geo_refined_pft_accordion {
  width: 700px;
  margin: auto;
  a {
    color: #000;
    font-weight: bold;
    &:visited {
      color: #666;
    }
    &:hover {
      color: #fff;
      background-color: $green3;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }
}

