@import "custom";

#radius {
  width: 100px;
}

#map_canvas { 
  width: 700px;
  height: 400px;
  margin: auto;
}

#add_additional_biome_site {
  margin: 10px auto;
}

.btn-inactive {
  
}

hr {
  margin: 10px 0px;
}

.remove_biome_site {
  margin-left: 5px;
}

div[id*='_biomes'] {
  width: 210px;
  height: 100px;
  margin: auto;
  padding-left: 5px;
  vertical-align: top;
  overflow: hidden;
  select {
    width: 200px;
  }
  biome_list {
    float: left;
  }
}

#geo_refined_input {
  text-align: center;
  margin: auto;
}



#geo_refined_pft_accordion {
  width: 700px;
  margin: auto;
  a {
    color: #000;
    font-weight: bold;
    &:visited {
      color: #666;
    }
    &:hover {
      color: #fff;
      background-color: $green3;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }
}

